@font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-Light_Web.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-LightItalic_Web.woff') format('woff');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-Book_Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-BookItalic_Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-Medium_Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-MediumItalic_Web.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-Bold_Web.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham';
    src: url('../fonts/woff/Gotham-BoldItalic_Web.woff') format('woff');
    font-weight: 600;
    font-style: italic;
  }

.title1 {
  font-family: 'Gotham';
  font-size: 50px;
  color: #fff;
  font-weight: 300;
}



.container-page {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .container-header a {
    display: flex;
    gap: 30px;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    margin-left: 110px;
  }
  
  .container-header {
    display: flex;
    gap: 12px;
    justify-content: center;
    font-family: Gotham;
    font-weight: 600;
    font-size: 16px;
    height: 60px;
    color: #000000;
    padding-right: -80px;
    padding-top: 120px
  }
  
  #logo {
    width: 100px;
    height: 100px;
  }

  #logo-typeface {
    width: 500px;
    height: 100px;
  }

  .location-subheading-photo-logo-wrapper {
    display: flex;
    gap: 72px;
    justify-content: center;
    font-size: 16px;
    height: 60px;
  }

  .photo-logopart {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 500;
    margin-top: 30px;
    letter-spacing: 6px;
    margin-left: -20px;
  }

  .location-statment {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 30px;
    font-family: 'Gotham';
    font-weight: 300;
    font-style: italic;
    margin-left: 60px;
}
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .menu-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
    text-align: center;
    margin-top: 50px;
  } 
  
  .menu-button {
    background-color:#000000;
    color: #ffffff;
    border: none;
    padding: 0px 0;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-family: Gotham;
  }

  .menu-button {
    /* existing styles */
    transition: font-size 0.3s ease; /* optional: smooth transition */
  }
  
  .menu-button:hover {
    font-size: 16px; /* adjust as needed */
  }
  
  .menu-button.active {
    font-size: 16px; /* adjust as needed */
  }

  .content-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 40px;
  }
  
  .container-image img {
    width: 100%; 
    height: auto; 
  }
  
  .container-image {
    max-width: 350px; /* Set a max-width to control the size of the image */
  }
  
  .text-box-bio {
    max-width: 370px; /* Control the width of the text box. Adjust as needed */
    background: #000000; 
  }

  .bodycopy {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
    color: #ffffff;
    margin-top: 24px;
    margin-left: 8px;
    justify-content: center;

  }

  .contact-info-textbox-wrapper {
    max-width: 370px;
    background: #000000; 
    padding: none;
  }

  .contact-email {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 8px;
    justify-content: center;
  }

  .contact-phone-number {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
    color: #ffffff;
    margin-top: -10px;
    margin-left: 8px;
    justify-content: center;
  }

  .contact-insta {
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
    color: #ffffff;
    margin-top: -10px;
    margin-left: 8px;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    transition: font-size 0.3s ease;
    cursor: pointer;
  }

  .contact-insta:hover {
    font-size: 16px; /* Slightly larger font size on hover */
  }
  
  @media screen and (max-width: 600px) {
    .content-area {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  
    .container-image {
      max-width: 100%; /* Allow the image to take up full width on small screens */
      margin-right: 0;
    }
  
    .text-box {
      max-width: 100%;
    }
  }