<div class="container-header">
  <a id="logo-typeface" href="index.html">
    <img
      src="./assets/images/LOGO RE-EXPORT FROM FIGMA/THOMAS DALBY PHOTO WITH LOGO (WHITE).svg"
      alt=""
    />
  </a>
  <div class="desktop-menu-buttons">
    <a href="../index.html"
      ><button class="desktop-menu-button">Portrait</button></a
    >
    <a href="../spaces.html" data-page="spaces">
      ><button class="desktop-menu-button">Spaces</button></a
    >
    <a href="../music.html" data-page="music">
      ><button class="desktop-menu-button">Music</button></a
    >
    <a href="../about.html" data-page="about">
      ><button class="desktop-menu-button">About</button></a
    >
  </div>
  <div id="page-title">
    page-title
    <div id="burger-menu">
      <img src="./assets/images/mobile assets/Burger Menu White.svg" alt="" />
    </div>
  </div>
</div>
